@font-face {
  font-family: "Druk Text Wide Super";
  src: url("./fonts/DrukTextWide-Super.woff2") format("woff2"),
    url("./fonts/DrukTextWide-Super.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk Text Wide";
  src: url("./fonts/DrukTextWide-Heavy.woff2") format("woff2"),
    url("./fonts/DrukTextWide-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk Text Wide";
  src: url("./fonts/DrukTextWide-Medium.woff2") format("woff2"),
    url("./fonts/DrukTextWide-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk Text Wide";
  src: url("./fonts/DrukTextWide-Bold.woff2") format("woff2"),
    url("./fonts/DrukTextWide-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
