// colours

$color-black: #000001;
$color-white: #ffffff;
$color-pink: #ff69b4;

// breakpoints

$breakpoint-min: 320px;
$breakpoint-mobile: 400px;
$breakpoint-tablet: 800px;
$breakpoint-desktop-sm: 1110px;
$breakpoint-desktop-lg: 1440px;
$breakpoint-max: 1920px;

// measurements

$line-width: 3px;
